html,body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "微软雅黑";
    overflow: auto;
}
.inline{
    display: inline-block;
}
.block{
    display: block;
}
h1{
    display: block;
    float: left;
    margin: 0 auto;
    margin-right: 25px;
    text-align: center;
    padding: 50px;
    width: fit-content;
    height: 700px;
    background: #3b96ff;
    color: white;
}
p{
    margin-right: 50px;
}
span{
    font-weight: bold;
    margin-right: 10px; 
}