/* html,body{
    height: 100%;
    width: 100%;
    margin: 50px auto;
    box-sizing: border-box;
    font-family: "微软雅黑";
} */
.inline{
    display: inline-block;
}
.block{
    display: block;
}
p{
    margin-right: 50px;
}
span{
    font-weight: bold;
    margin-right: 10px; 
}